.players{
    display:flex;
    flex-direction:column;
    color: white;
}
.myplaylist,.likedsongs{
    display:flex;
    flex-direction:row;
    color:white;
    gap:10px;
    align-items: center;
    background-color: #121212;
    padding: 5px ;
    height: auto;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    cursor:pointer;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color:rgb(44, 37, 37);
    }
    border:none;
    justify-content: flex-start;
    align-items: center;
}

.players .item1{
    background-color: rgb(37, 35, 35);
    height:60px;
    width:60px;
    border-radius: 50%;
}
.player1{
    background-color: rgb(37, 35, 35);
}
.player2{
    background: linear-gradient(to bottom right, #093eec, #b9b9e0);
}


.player .item1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players .item2{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}

.item2 .heading1{
    color:white;
}

.item2 .heading2{
    color:rgb(128,128,128);
}




